# Database
DATABASE_URL="postgresql://user:password@localhost:5432/product_admin"
# For local development with SQLite:
# DATABASE_URL="file:./dev.db"

# Auth
AUTH_SECRET="your-secret-key-at-least-32-chars-long-generate-with-openssl-rand-hex-32"
NEXTAUTH_URL="http://localhost:3000"

# Admin user (created on first seed)
ADMIN_EMAIL="admin@company.com"
ADMIN_PASSWORD="Admin1234!"
ADMIN_NAME="Данила"
